<%- include("partials/header") %>


<h1 class = "my-5 text-center">
    Welcome to TO-DO List App!!!
</h1>
<div class="container">
    <div class="container">
        <a href = "/lists/new">Create a new list</a>
        <a href = "/lists">View all lists</a>
    </div>
</div>


<%- include("partials/footer") %>