<%- include('partials/header') %>


<div class="container">
    <div class="row">
        <h1 class = "my-4" style="text-align: center">Login Page</h1>
        <div style = "width: 30%; margin: 30px auto">
            <form action = "/login" method = "POST">
                <div class="d-grid gap-2 mb-3">
                    <input type = "text" name = "username" placeholder = "username">
                </div>
                <div class="d-grid gap-2 my-3">
                    <input type = "password" name = "password" placeholder = "password">
                </div>
                <div class="d-grid gap-2 my-3">
                    <button type = "submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer') %>
